.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
  }
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .content {
    margin-left: 200px;
  }